# This file will be recreated at the next build. To avoid this, delete this line.

[Desktop Entry]
Type=Application
Name=network_monitor
Comment=SIM and cellular network monitor for Aurora OS.
Icon=ru.networkmonitor.network_monitor
Exec=/usr/bin/ru.networkmonitor.network_monitor
X-Nemo-Application-Type=silica-qt5

[X-Application]
Permissions=
OrganizationName=ru.networkmonitor
ApplicationName=network_monitor

[X-Task SimMonitorPeriodic]
Type=periodic
Permissions=
